<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.thejoeun.product.model.mapper.ProductMapper">

    <select id="getAllProducts" resultType="Product">
        SELECT *
        FROM product
        ORDER BY create_at DESC
    </select>

    <select id="getProductById" resultType="Product">
        SELECT *
        FROM product
        ORDER BY create_at DESC
    </select>
    <select id="getProductByCode" resultType="Product">
        SELECT *
        FROM product
        ORDER BY create_at DESC
    </select>
    <select id="getProductsByCategory" resultType="Product">
        SELECT *
        FROM product
        ORDER BY create_at DESC
    </select>
    <select id="searchProducts" resultType="Product">
        SELECT *
        FROM product
        ORDER BY create_at DESC
    </select>
    <insert id="insertProduct" parameterType="Product" useGeneratedKeys="true" keyProperty="id">
        SELECT *
        FROM product
        ORDER BY create_at DESC
    </insert>
    <update id="updateProduct" parameterType="Product">

    </update>
    <update id="deleteProduct" parameterType="Product">

    </update>
    <update id="updateStock" parameterType="Product">

    </update>
</mapper>
