<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.thejoeun.common.scheduling.Mapper.SchedulingMapper">
    <!--
    Oracle 에서는 LIMIT 대신 FETCH FIRST 또는 ROWNUM 사용 -> ROWNUM 코드가 번잡
    Now() 대신 SYSDATE 또는 CURRENT_TIMESTAMP 사용

    LIMIT 10 ->
        1번 방법 ROWNUM
                     INSERT INTO  popular_board(board_id, ranking, updated_at)
                 SELECT id, ranking,CURRENT_TIMESTAMP
                 FROM (
                     SELECT id, ROW_NUMBER() OVER(ORDER BY view_count DESC) as ranking
                     FROM board
                    ORDER BY  view_count DESC
                    )
                 where rownum <= 10
        2번 방법 FETCH FIRST
                     INSERT INTO  popular_board(board_id, ranking, updated_at)
                     SELECT id, ROW_NUMBER() OVER(ORDER BY view_count DESC) as ranking, current_timestamp
                     FROM board
                     ORDER BY  view_count DESC
                     FETCH FIRST 10 Rows  ONLY
               rownum 의 복잡하고, 번거로운 코드를 간략하게 사용할 수 있는 추가 예약어 문법

    useGeneratedKeys="true" keyProperty="id" keyColumn="id"
    문제가 되지 않으나 써 주는 것이 좋다.
    -->
    <insert id="insertPopularBoards" parameterType="board" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
     INSERT INTO  popular_board(board_id, ranking, updated_at)
     SELECT id, ROW_NUMBER() OVER(ORDER BY view_count DESC) as ranking, current_timestamp
     FROM board
     ORDER BY  view_count DESC
     FETCH FIRST 10 Rows  ONLY
    </insert>

    <select   id="selectPopularBoards" resultType="Board">
        SELECT
            b.id, b.title,b.content,b.view_count, b.created_at, b.updated_at, p.ranking, p.updated_at
        FROM popular_board p
        JOIN board b ON board_id = b.id
        ORDER BY P.ranking ASC

    </select>

    <delete id="deleteAllPopularBoards">
        DELETE FROM popular_board
    </delete>

</mapper>




